.cats__grid {
    display: grid;
    width: 1316px;
    margin: 0 auto;
    padding-top: 52px;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 33px;
    grid-row-gap: 33px;
}

.cats__item {
    position: relative;
    width: 225px;
    height: 225px;
    transition: all 0.3s;
    width: 225px;
    height: 225px;
}

.cats__item:hover {
    transform: scale(1.14);
    /*width: 257px;*/
    /*height: 256px;*/
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}

.cats__item:hover .cats__favorite {
    opacity: 1;
    visibility: visible;
}

.cats__favorite {
    background: url("../../assets/images/heart.svg") center no-repeat;
    width: 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 28px;
    right: 28px;
    transition: all 0.3s;
    cursor: pointer;
}

.cats__favorite img {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 6px;
    right: 5px;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 2;
}

.cats__favorite:hover img {
    opacity: 1;
    visibility: visible;
}

.cats__item--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loadMore {
    text-align: center;
    margin: 50px 0;
    padding-bottom: 50px;
}