.error404 {
    min-width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.back {
    margin: 20px;
    display: inline-block;
    padding: 20px 40px;
    background: #1E88E5;
    border-radius: 16px;
    color: #fff;
    transition: all 0.5s;
}

.back:hover {
    background: #70aeeb;
}